body,
html {
    width: 100%;
    height: 100%;
    margin: 0%;
}

* {
    box-sizing: border-box;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

}

.head {
    width: 100%;
    background-image: url(../images/ruvim-noga.jpg);
    background-size: cover;
    height: 450px;
    background-position: 40%;
}

.nevi {
    width: 90%;
    margin: auto;
    overflow: auto;
    padding: 40px 0px;
    color: white
}

.blk {
    width: 30%;
    float: left;
}

.menus {
    width: 50%;
    float: right;
    overflow: auto;
}

.start {
    width: 25%;
    float: left;
    padding: 10px 10px;
}

.now {
    width: 15%;
    float: right;
    padding: 10px 10px;
    background-color: darkslategray;
    text-align: center;
}

.new {
    width: 40%;
    margin: auto;
    right: 0;
    left: 0;
    top: 10px;
    bottom: 0;
    position: relative;
    color: white;
    font-size: 16px;
}

.icon {
    margin: auto;
    width: 30%;
    overflow: auto;
}

.insta {
    float: left;
    padding: 10px;
}

.enter {
    width: 100%;
    background-color: #171941;
    position: absolute;
}

.story {
    width: 80%;
    margin: auto;
    overflow: auto;
    position: relative;
    top: -85px;
}

.feature {
    width: 33.3%;
    float: left;
    text-align: left;
    padding: 20px 20px;
}

.img {
    width: 100%;
}

.clr {
    color: deeppink;
    font-size: 20px;
}

.txt {
    color: rebeccapurple;
    font-size: 25px;
    padding: 10px 0px;
}

.text {
    color: lightblue;
    font-size: 20px;
}

.trending {
    width: 80%;
    margin: auto;
    overflow: auto;
    text-align: left;
    color: lightblue;
}

.tom {
    width: 100%;
    margin: auto;
    overflow: auto;
    padding: 20px 0px;
}

.draw {
    text-align: left;
    float: left;
}

.clring {
    font-size: 20px;
    color: purple;
    padding: 10px 10px;
}

.text {
    font-size: 15px;
    color: grey;
    padding: 10px 10px;

}

.machine {
    float: left;
    width: 60%;
    padding: 30px 40px;
}

.hanks {
    width: 8%;
    height: 50px;
    background-color: rebeccapurple;
    float: left;
    left: 50px;
    position: relative;
}

.drawn {
    width: 10%;
    float: left;
    left: 70px;
    position: relative;
}

.gallery {
    width: 100%;
    overflow: auto;
    color: lightblue;
    padding: 50px 0px;
    position: relative;
}

.img-vik {
    float: left;
    width: 25%;
    background-image: url(../images/viktor-forgacs.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.img-rez {
    float: left;
    width: 25%;
    background-image: url(../images/rezaul-karim.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50%
}

.img-paw {
    float: left;
    width: 25%;
    background-image: url(../images/pawel-nolbert.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50%;
}

.img-mark {
    float: left;
    width: 25%;
    background-image: url(../images/mark-finn.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.stay {
    text-align: center;
    padding: 80px 0px;
}

.change {
    width: 25%;
    bottom: 75px;
    position: absolute;
    color: white;

}

.author {
    width: 80%;
    margin: auto;
}

.worker {
    width: 100%;
    margin: auto;
    background-color: ;
    overflow: auto;


}

.mark {
    width: 33.3%;
    float: left;
    position: relative;
    padding: 15px;
    
    
}

.img-john {
    width: 100%;
    height: 400px;
    background-image: url(../images/mike.jpeg);
    background-position: 50%;
    background-size: cover;
    text-align: left;


}

.mj {
    left: 20px;
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: grey;
}

.mark-det {
    width: 100%;
    padding: 15px;
    overflow: auto;
}

.line {
    background-color: palevioletred;
    width: 20%;
    height: 2px;
    float: right;



}

.ux {
    text-align: right;
    font-size: 30px;
    padding: 20px 0px;
    color: white;
}

.table {
    color: white;
    width: 100%;
}
.img-dylan {
    width: 100%;
    height: 400px;
    background-image: url(../images/christian.jpg);
    background-position: 50%;
    background-size: cover;
    text-align: left;


}
.img-mila {
    width: 100%;
    height: 400px;
    background-image: url(../images/johana.jpg);
    background-position: 50%;
    background-size: cover;
    text-align: left;


}
